.title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    color: var(--color-secondary);
    text-align: center;
    @media screen and (min-width: 1200px) {
        font-size: 36px;
    }

    
}

.title--small {
    font-size: 20px;
    line-height: 1.15;

    
}
